<div ng-controller="productCtrl">
    <ul class="nav">
        <li><a href="#home"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
        <li ng-show="$rootScope.admin"><a href="#add">Add Product </a></li>
        <li ng-show="$rootScope.admin"><a href="#update">Update Product</a></li>
        <div class="d-flex" style="margin-left: auto">

             <!-- <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label> -->

            <li ng-show="!$rootScope.login"><a href="#login"> <i class="fa fa-sign-in"></i> Login</a></li>
            <div class="dropdown" ng-show="$rootScope.login" style="margin-left: 100px">
                <li ng-show="$rootScope.login"><a href="#"> {{$rootScope.user}}</a></li>
                <div class="dropdown-content">
                    <a href="#"><i class="fa-solid fa-user"></i> My Profile</a>
                    <a href="#"><i class="fa fa-cog" aria-hidden="true"></i> Setting</a>
                    <a href="#login" ng-click="logout()"><i class='fa fa-sign-out'></i> Logout</a>
                </div>
            </div>
        </div>
    </ul>
</div>